
@{

	@if (ViewBag.events.Count == 0)
	{
		<p>No events yet!</p>
	}

	else
	{
		<table>
	
		@foreach (KeyValuePair<string,string> anEvent in ViewBag.events)
		{
			<tr>
					<td>Name: @anEvent.Key</td>
					<td>&nbsp|&nbsp</td>
					<td> Description: @anEvent.Value</td>
			</tr>
			
		}

	</table>
	}
	


	<a asp-controller="Events" asp-action="Add">Add Event Form</a>

}
