
@{

	@if (ViewBag.events.Count == 0)
	{
		<p>No events yet!</p>
	}

	else
	{
		<table>
	
		@foreach (Event anEvent in ViewBag.events)
		{
			<tr>
					<td>Id: @anEvent.Id</td>
					<td>&nbsp|&nbsp</td>
					<td>Name: @anEvent.Name</td>
					<td>&nbsp|&nbsp</td>
					<td>Description: @anEvent.Description</td>
			</tr>
			
		}

	</table>
	}
	


	<a asp-controller="Events" asp-action="Add">Add Event Form</a>

}
