@using SpaDay6.ViewModels
@model AddUserViewModel
@{
}

<form asp-controller="User" asp-action="Add" method="post">

	<div asp-controller="User" asp-action="Add" class="form-group row mb-3">
		<label asp-for="Username"></label>
		<input asp-for="Username" class="form-control" />
		<span asp-validation-for="Username" class="text-danger"></span>
	</div>

	<div asp-controller="User" asp-action="Add" class="form-group row mb-3">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div asp-controller="User" asp-action="Add" class="form-group row mb-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	@if (ViewBag.error != null)
	{
		<p class="text-danger">@ViewBag.error</p>
	}

	<div asp-controller="User" asp-action="Add" class="form-group row mb-3">
		<label asp-for="VerifyPassword"></label>
		<input asp-for="VerifyPassword" class="form-control" />
		<span asp-validation-for="VerifyPassword" class="text-danger"></span>
	</div>

	<input type="submit" value="Create User" class="btn btn-success" />

</form>




	

