@using SpaDay6.Models
@model User

@{
}
<h1>Welcome @Model.Username</h1>

<a asp-area="" asp-controller="Spa" asp-action="index">Menu</a>


<div>
	<p>Email: @Model.Email</p>
	<p>Member since: @Model.DateCreated</p>
</div>
